* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
}

#root {
    height: 100%;
}

nav {
    border: 1px solid black;
}

main {
    display: flex;
    border: 1px solid black;
}

aside {
    border: 1px solid black;
}