* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
}

#root {
    height: 100%;
}

svg {
    height: 100%;
}

.logo {
    height: 60%;
    margin: 0;
}
