:root {
    /* CSS Grid Variables */
    --product-min-width: 250px;
    --header-min-height: 80px;
    --chart-min-height: 600px;
    --table-min-height: 700px;
      /* Color Variables */
  --light-gray: #f7f8fa;
  --gray: gray;
  --container-background-color: white;
  /* Border Variables */
  --border-vertical-width: 10px;
  --border-double-vertical-width: 20px;
  --border-horiz-width: 55px;
  --thin-vertical-border: var(--border-vertical-width) solid var(--light-gray);
  --thick-vertical-border: var(--border-double-vertical-width) solid
    var(--light-gray);
  --horizontal-border: var(--border-horiz-width) solid var(--light-gray);
  /* The hexes of the blue variables are used in the chart */
  /* --dark-blue: #3c4858;
  --bright-blue: #40a8ef;  */
}

.chart-container {
    grid-area: chart-container;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--container-background-color);
    border-left: var(--thin-vertical-border);
    border-right: var(--thick-vertical-border);
    border-top: var(--horizontal-border);
    border-bottom: var(--horizontal-border);
  }

  .table-container {
    grid-area: table-container;
    background-color: var(--container-background-color);
    border-left: var(--thin-vertical-border);
    border-right: var(--thick-vertical-border);
    border-bottom: var(--horizontal-border);
  }


.grid-container {
        display: grid;
        min-height: 100%;
        grid-template-columns: minmax(var(--product-min-width), 0.4fr) 1.3fr;
        grid-auto-rows: minmax(var(--header-min-height), 0.15fr)
          minmax(var(--chart-min-height), 1.4fr)
          minmax(var(--table-min-height), max-content);
        grid-template-areas: "header-container header-container" "product-container chart-container" "product-container table-container";
}


.header-container {
    grid-area: header-container;
    background-color: var(--container-background-color);
    text-align: left;
    color: black;
    outline: 1px solid blue;
}
  

  .product-container {
    grid-area: product-container;
    background-color: var(--container-background-color);
    border-left: var(--thick-vertical-border);
    border-right: var(--thin-vertical-border);
    border-top: var(--horizontal-border);
    border-bottom: var(--horizontal-border);
  }

* {
    margin: 0;
    box-sizing: border-box;
}

svg {
    height: 100%;
}

body {
    min-height: 100vh;
    height: 100vh;
}

#root {
    height: 100%;
}

.logo {
    height: 70%;
}

